## 菜市场张大妈和李大爷的故事

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from pandas import Series,DataFrame

张大妈和李大爷都是里仁村的菜农,这不,今天一大早5点钟就在镇子上
的菜市场卖菜了,两人卖的都是西红柿和白菜,张大妈标价是100元一颗
白菜,50元一个西红柿,李大爷标价125元一颗白菜,25元一个西红柿.

In [4]:
df = DataFrame({'西红柿':[50,25],'白菜':[100,125]},
                index=['张大妈','李大爷'])
df

     西红柿   白菜
张大妈   50  100
李大爷   25  125

这个时候,热心市民刘先生去李大爷处买菜,问了下价格,看不下去了,叫来了自己的城管侄子平平无奇古天乐,两个人顺势就要收了俩个菜农的摊子.李大爷不乐意了,我们俩明明一样黑,凭什么只收我的摊!然后,然后就一起收了.最后商量了一下,全部按原来价格的百分之1.

In [6]:
df/100

      西红柿    白菜
张大妈  0.50  1.00
李大爷  0.25  1.25