作业：
1. 反复练习今天的所学全部知识点方法，做到熟练运用.
2. 不看讲义代码，重新实现一遍张三李四的考场故事。

3. 用今天所学的DataFrame知识点，写一个小说。
参考选题：
- 菜市场张大妈和李大爷的故事
- Python程序员狂虐Java程序员的故事


1. 假设ddd是期中考试成绩，ddd2是期末考试成绩，请自由创建ddd2，并将其与ddd相加，求期中期末平均值。

2. 假设张三期中考试数学被发现作弊，要记为0分，如何实现？

3. 李四因为举报张三作弊立功，期中考试所有科目加100分，如何实现？

4. 后来老师发现有一道题出错了，为了安抚学生情绪，给每位学生每个科目都加10分，如何实现？

## 2. 不看讲义代码，重新实现一遍张三李四的考场故事。

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dd = DataFrame(np.random.randint(150,size=(2,4)),index=['张三','李四'],columns=['语文','数学','英语','python'])

In [3]:
dd

    语文  数学   英语  python
张三  50  52    7     104
李四   5  95  127      65

In [4]:
dd2 =  DataFrame(np.random.randint(150,size=(2,4)),index=['张三','李四'],columns=['语文','数学','英语','python'])

In [5]:
dd2

    语文  数学   英语  python
张三  25   5  128      43
李四  72  89   19     106

In [6]:
dd.add(dd2)/2

      语文    数学    英语  python
张三  37.5  28.5  67.5    73.5
李四  38.5  92.0  73.0    85.5

In [7]:
dd.loc['张三','数学'] = 0

In [8]:
dd

    语文  数学   英语  python
张三  50   0    7     104
李四   5  95  127      65

In [9]:
dd.loc['李四']+100

语文        105
数学        195
英语        227
python    165
Name: 李四, dtype: int32

In [10]:
dd

    语文  数学   英语  python
张三  50   0    7     104
李四   5  95  127      65

In [11]:
dd +10

    语文   数学   英语  python
张三  60   10   17     114
李四  15  105  137      75

## 菜市场张大妈和李大爷的故事

In [26]:
d = DataFrame([[1.0,2.0],[0.5,1.5],[0.6,1.5],
               [1.5,2.0]],columns=['weight','price'],index = 
              pd.MultiIndex.from_product([['张大妈'],['苹果','香蕉','梨子','哈密瓜']]))
d

         weight  price
张大妈 苹果      1.0    2.0
    香蕉      0.5    1.5
    梨子      0.6    1.5
    哈密瓜     1.5    2.0

In [27]:
d2 = DataFrame([[1.0,2.0],[0.5,1.5],[0.6,1.5],
               [1.5,2.0]],columns=['weight','price'],index = 
              pd.MultiIndex.from_product([['李大爷'],['苹果','香蕉','梨子','哈密瓜']]))
d2

         weight  price
李大爷 苹果      1.0    2.0
    香蕉      0.5    1.5
    梨子      0.6    1.5
    哈密瓜     1.5    2.0

In [36]:
d.loc['张大妈'].loc['香蕉','price'] = np.nan

In [38]:
d.fillna(method='bfill',axis=0)

         weight  price
张大妈 苹果      1.0    2.0
    香蕉      0.5    1.5
    梨子      0.6    1.5
    哈密瓜     1.5    2.0

In [40]:
d.fillna(method='ffill',axis=1)

         weight  price
张大妈 苹果      1.0    2.0
    香蕉      0.5    0.5
    梨子      0.6    1.5
    哈密瓜     1.5    2.0

In [48]:
pd.concat((d,d2),axis=0)

         weight  price
张大妈 苹果      1.0    2.0
    香蕉      0.5    NaN
    梨子      0.6    1.5
    哈密瓜     1.5    2.0
李大爷 苹果      1.0    2.0
    香蕉      0.5    1.5
    梨子      0.6    1.5
    哈密瓜     1.5    2.0