In [3]:
#导入
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
#创建对象
data = np.random.randint(0,100,size=(10,3),dtype=np.int)
columns = ['金牌','银牌','铜牌']
index = ['日本','德国','美国','韩国','中国','西班牙','意大利','赞比亚','印度','爱塞尔维亚']
fuck = DataFrame(data=data,columns=columns,index=index)
fuck

       金牌  银牌  铜牌
日本     50  95  63
德国     65  14  10
美国     69  77   2
韩国     40   8  71
中国     62  98  86
西班牙    27  22  64
意大利    78  27  44
赞比亚     7  38  22
印度     78  74  36
爱塞尔维亚  48  94  48

In [14]:
#片段一:日本队这时候又添加一枚金牌
fuck.loc['日本','金牌'] += 1
fuck.loc['日本':'日本']

    金牌  银牌  铜牌
日本  52  95  63

In [20]:
#片段二:中国队添加一枚银牌
fuck.iloc[4,1] += 1
fuck.iloc[4:5,:]

    金牌   银牌  铜牌
中国  62  100  86

In [30]:
#片段三:这时候英国队收获一枚铜牌也进入了排行榜单
data = [0,0,1]
columns = ['金牌','银牌','铜牌']
index = ['英国']
fuck_england = DataFrame({'金牌':0,'铜牌':1,'银牌':0},index=index)
fuck_england

    金牌  铜牌  银牌
英国   0   1   0

In [34]:
fuck.add(fuck_england,fill_value=0)

         金牌    铜牌     银牌
中国     62.0  86.0  100.0
印度     78.0  36.0   74.0
德国     65.0  10.0   14.0
意大利    78.0  44.0   27.0
日本     52.0  63.0   95.0
爱塞尔维亚  48.0  48.0   94.0
美国     69.0   2.0   77.0
英国      0.0   1.0    0.0
西班牙    27.0  64.0   22.0
赞比亚     7.0  22.0   38.0
韩国     40.0  71.0    8.0

In [44]:
#片段四：发现美国队作弊,取消本次的所有奖牌
fuck.loc['美国'] = 0
fuck

       金牌   银牌  铜牌
日本     52   95  63
德国     65   14  10
美国      0    0   0
韩国     40    8  71
中国     62  100  86
西班牙    27   22  64
意大利    78   27  44
赞比亚     7   38  22
印度     78   74  36
爱塞尔维亚  48   94  48